<!DOCTYPE html>
<html>
  <head>
    <title>Create page</title>
  </head>
  <body>
    <h1>구인글 작성</h1>
    <form
      action="{% url 'update' id %}"
      method="POST"
      enctype="multipart/form-data"
    >
      {%csrf_token%}
      <p>제목 : <input type="text" name="title" value="{{title}}" /></p>
      <p>장소 : <input type="text" name="local" value="{{local}}" /></p>
      <p>
        구인 지역 : <input type="text" name="enpl_area" value="{{enpl_area}}" />
      </p>
      <p>급여 : <input type="number" name="salary" value="{{salary}}" /></p>
      <p>하는 일 : <input type="text" name="todo" value="{{todo}}" /></p>
      <p>
        세부사항 :
        <textarea name="detail" cols="30" rows="30">{{detail}}</textarea>
      </p>
      <p>
        사진 : <input type="file" name="image" /><img
          src="{{image.url}}"
          height="200"
        />
      </p>

      <br />
      <button type="submit">수정</button>
    </form>
  </body>
</html>
